<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="template.css">
</head>
<div class="header">
	Learning-By-Instruction Conversational Agent
</div>
<body>
	<center>
		<strong>statement</strong>: "If I haven't been to the gym for more than 3 days then remind me to go to the gym because I want to stay fit."
	<br><br>
	LIA: What does "I go to the gym" cause that helps you achieve "I stay fit"?
	<br><br>
	<form action="/action_page.php">
		<input type="radio" id="mc_1" name="mc" value="something 1">
		<label for="mc_1">something 1</label><br>
		<input type="radio" id="mc_2" name="mc" = value="something 2">
		<label for="mc_2">something 2</label><br>
		<input type="radio" id="mc_3" name="mc" value="something 3">
		<label for="mc_3">something 3</label><br>
		<input type="radio" id="mc_4" name="mc" = value="something 4">
		<label for="mc_4">something 4</label><br>
		<input type="radio" id="mc_5" name="mc" value="something 5">
		<label for="mc_5">something 5</label><br>
		<input type="radio" id="none_of_the_above" name="mc" = value="none of the above">
		<label for="none of the above">None of the above</label><br>
		<label for="explanation">Explanation: </label>
	  	<input type="text" id="base_xplanation" name="explanation"><br><br>
	    <input type="submit" value="Submit">
	</form>
	</center>
</body>
</html>