<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="template.css">
</head>
<div class="header">
	Learning-By-Instruction Conversational Agent
</div>
<body>
	<center>
		<strong>statement</strong>: "If I haven't been to the gym for more than 3 days then remind me to go to the gym because I want to stay fit."
	<br><br>
	LIA: How do I know if "I stay fit"?
	<br><br>
	<form action="/grounding.php">
	  <label for="ground_1">User:</label>
	  <input type="text" id="ground_1" name="ground_1"><br><br>
	  <!-- <label for="lname">Last name:</label>
	  <input type="text" id="lname" name="lname"><br><br> -->
	  <input type="submit" value="Next &raquo;">
	</form>
	</center>
</body>
</html>