<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="template.css">
</head>
<div class="header">
  <strong>Learning-By-Instruction Conversational Agent</strong>
</div>
<body>
  <center>
  	<br><br>
  	<strong>Please read the statement below carefully</strong>
  	<br><br>
  	<strong>statement</strong>: 
  	"If I haven't been to the gym for more than 3 days then remind me to go to the gym because I want to stay fit."
  	<br><br>
  </center>
</body>
<div style="text-align: center;">
  <button>I have read the statement &raquo;</button>
</div>
</html>